body {
  background-color: #fffef8;
  font-family: work sans;
}


#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;

  h2 {
    margin-bottom: 20px;
    color: #1d6154;
    font-family: Syne;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }
  .email {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 3px;
    }
    
  }

  .password {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 3px;
    }
  
  }
  input {
    padding: 10px;
    width: 400px;
    border: 1px solid grey;
    color: black;
    
   
  }

  input[type="submit"] {
    width: 180px;
    border-radius: 60px ;
    color: #fffef8;
  }

  a {
    color: #3D3D3D;

    &:hover {
      color: #1d6154;
    }

  }
}




